$base: #fefdfd;
$pink: #bb7479;
$blue: #5788a9;
$black: #2e2e2e;

$snow: #FAF5F4;
$paleSilver: #DECFCD;

html, body, h1, h2, h3, a {
    font-family: 'Poppins', sans-serif;
    color: $blue;
}

html {
    background: $base;
}

html[lang="en"] {
    [data-lang="en"] {
        display: block;
    }
    [data-lang="es"] {
        display: none;
    }
}
html[lang="es"] {
    [data-lang="en"] {
        display: none;
    }
    [data-lang="es"] {
        display: block;
    }
}

body {
    min-height: calc(100vh - 64px * 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 0;
}

header {
    font-size: 80px;
    padding: 8px;
    color: $pink;
    font-family: 'Birthstone Bounce', cursive;

    @media screen and (max-width: 600px) {
        font-size: 66px;
    }

    a {
        text-decoration: none;
        color: inherit;
        font-family: inherit;
        text-align: center;
    }
}

.translate-link {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    color: $blue;
    padding: 0;
    box-shadow: none;
    text-decoration: underline;
}

h1 {
    font-size: 32px;
    padding: 8px;
    text-align: center;
}

h2 {
    font-size: 24px;
    padding: 8px;
    text-align: center;
}

section {
    background: lighten($pink, 25%);

    &.white {
        background: none;
    }

    width: 100%;
    display: flex;
    padding: 48px 32px;
    box-sizing: border-box;
    margin: 16px 0;
    flex-direction: column;
    color: $black;

    div {
        max-width: 600px;
        width: 100%;
        margin: auto;
        font-size: 1.2em;
        line-height: 1.5em;
    }

    // narrower horizontal padding at smaller screen sizes
    @media screen and (max-width: 600px) {
        padding: 48px 24px;

        div {
            font-size: 1em;
        }
    }

    h2 {
        color: $black;
        margin-bottom: 16px;
    }


    ul {
        margin: 0px 32px;
    }

    iframe {
        margin: auto;
        box-shadow: none;
    }
}

@mixin shadow {
    box-shadow: 4px 5px 14px 3px #cfcfcf;
}

iframe, video {
    width: calc(100% - 64px);
    max-width: 600px;
    margin: 32px 0;
    @include shadow;
}

iframe {
    aspect-ratio: 16 / 9;

    &.yt-video {
        margin-bottom: 24px;
    }
}

$margins: "top", "right", "bottom", "left";
@for $i from 1 through 4 {
    @each $m in $margins {
        .margin-#{$m}-#{$i} {
            margin: #{$i * 8}px;
        }
        .margin-y-#{$i} {
            margin: #{$i * 8}px auto;
        }
        .margin-x-#{$i} {
            margin: auto #{$i * 8}px;
        }
    }
}

div {
    line-height: 1.3em;
}

@mixin btn {
    color: white;
    background: $blue;
    border: none;
    font-size: 24px;
    padding: 16px 24px;
    cursor: pointer;
    text-decoration: none;
    @include shadow;

    &.big {
        padding: 24px 48px;
    }

    &:hover {
        background: lighten($blue, 5%);
    }

    &.inverse {
        background: none;
        color: $blue;
        font-weight: bold;
        border: solid 2px $blue;

        &:hover {
            color: white;
            background: $blue;
        }
    }


    &:active {
        background: $blue;
    }
}

button, .btn-link {
    @include btn;
}

.flyer {
    margin: 0 32px;
    max-width: 600px;
    @include shadow;
    display: flex;

    img {
        max-width: 100%;
        aspect-ratio: auto;
    }
}

#map {
    @include shadow;
    margin-top: 16px;

    img {
        max-width: 100%;
    }
}

.flex {
    display: flex;
    justify-content: center;
}

audio {
    margin-top: 24px;
}
