---
layout: default
permalink: /volunteer
---
<h1>
  {% include translate.html en="Volunteer Forms" es="Formularios de voluntariado" %}
</h1>
<div id="link-container">
  <div class="column">
    {% for form in site.data.volunteerLinks %}
      {% assign half = forloop.length | divided_by: 2 %}
      {% if forloop.index <= half %}
        <div>
          <a
            class="btn-link"
            href="{{ form.url }}"
            target="_blank"
            rel="noopener noreferrer">
              {% include translate.html en=form.name es=form.es %}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="column">
    {% for form in site.data.volunteerLinks %}
      {% assign half = forloop.length | divided_by: 2 %}
      {% if forloop.index > half %}
        <div>
          <a
            class="btn-link"
            href="{{ form.url }}"
            target="_blank"
            rel="noopener noreferrer">{% include translate.html en=form.name es=form.es %}</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div id="link-container-mobile">
  {% for form in site.data.volunteerLinks %}{% endfor %}
  <div class="column">
    {% for form in site.data.volunteerLinks %}
      <div>
        <a
          class="btn-link"
          href="{{ form.url }}"
          target="_blank"
          rel="noopener noreferrer">{{ form.name }}</a>
      </div>

    {% endfor %}
  </div>
</div>