<!DOCTYPE html>
<html lang="{{page.lang}}">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PY47EGN45L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-PY47EGN45L');
    </script>

    <!-- Primary Meta Tags -->
    <title>{{ page.title }}</title>
    <meta name="title" content="{{ page.title }}">
    <meta name="description" content="Mar 28-30, 2024. 2540 N. Broad St. Fuquay-Varina, NC">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://risenrss.com/">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="Mar 28-30, 2024. 2540 N. Broad St. Fuquay-Varina, NC">
    <meta property="og:image" content="https://risenrss.com/assets/images/banner.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://risenrss.com/">
    <meta property="twitter:title" content="{{ page.title }}">
    <meta property="twitter:description" content="Mar 28-30, 2024. 2540 N. Broad St. Fuquay-Varina, NC">
    <meta property="twitter:image" content="https://risenrss.com/assets/images/banner.jpg">

    <link
      rel="shortcut icon"
      type="image/jpg"
      href="/assets/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/styles.css?v={{ site.time | date:'%s' }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&family=Poppins&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <a data-lang="en" href="/">He is Risen 2024</a>
      <a data-lang="es" href="/?lang=es">Él ha Resucitado 2024</a>
      <!-- hide lang switch if variable passed in -->
      {% unless layout.hide_lang or page.hide_lang %}
        <button class="translate-link" data-lang="en" onclick="switchLanguage()">Español</button>
        <button class="translate-link" data-lang="es" onclick="switchLanguage()">English</button>
      {% endunless %}
    </header>
    {{ content }}

    <script src="/assets/js/main.js?v={{ site.time | date:'%s' }}"></script>
  </body>
</html>